In [1]:
import pandas as pd
import math
import sqlite3 as sql
import csv

In [2]:
# Connect to database using sqlite3
con = sql.connect("chinook.db")

In [8]:
# a) Write an SQL query to gather information about the artists, their albums, tracks, genres, and playlists. Import this information into a pandas data frame.

query = '''
    SELECT r.ArtistId, r.Name, l.AlbumId, l.Title, t.TrackId, t.Name, g.GenreId, g.Name, p.PlaylistId, p.Name
    FROM Track t
    JOIN Album l USING(AlbumId)
    JOIN Artist r USING(ArtistId)
    JOIN Genre g USING(GenreId)
    JOIN PlaylistTrack USING(TrackId)
    JOIN Playlist p USING(PlaylistId);
    '''

music_df = pd.read_sql_query(query, con)

print(music_df)

      ArtistId           Name  AlbumId  \
0            8     Audioslave      271
1            8     Audioslave      271
2            8     Audioslave      271
3            8     Audioslave      271
4            8     Audioslave      271
...        ...            ...      ...
8710       114  Ozzy Osbourne      171
8711       114  Ozzy Osbourne      171
8712       114  Ozzy Osbourne      172
8713       179      Scorpions      257
8714        68    Miles Davis       48

                                                  Title  TrackId  \
0                                           Revelations     3402
1                                           Revelations     3389
2                                           Revelations     3390
3                                           Revelations     3391
4                                           Revelations     3392
...                                                 ...      ...
8710                                    Blizzard of Ozz     2094
8711                                    Blizzard of Ozz     2095
8712                     Diary of a Madman (Remastered)     2096
8713  20th Century Masters - The Millennium Collecti...     3290
8714                 The Essential Miles Davis [Disc 1]      597

                                                Name  GenreId         Name  \
0     Band Members Discuss Tracks from "Revelations"       23  Alternative
1                                        Revelations       23  Alternative
2                                   One and the Same       23  Alternative
3                                     Sound of a Gun       23  Alternative
4                                      Until We Fall       23  Alternative
...                                              ...      ...          ...
8710                                    I Don't Know        1         Rock
8711                                     Crazy Train        1         Rock
8712                               Flying High Again        1         Rock
8713                                         The Zoo        1         Rock
8714                                  Now's The Time        2         Jazz

      PlaylistId                 Name
0              1                Music
1              1                Music
2              1                Music
3              1                Music
4              1                Music
...          ...                  ...
8710          17  Heavy Metal Classic
8711          17  Heavy Metal Classic
8712          17  Heavy Metal Classic
8713          17  Heavy Metal Classic
8714          18          On-The-Go 1

[8715 rows x 10 columns]

In [10]:
# 10 points) Select all the artists that have more than one album for the analysis below
grouped_df = music_df.groupby(['ArtistId']).filter(lambda x: x['AlbumId'].nunique() > 1)

print(grouped_df.head(20))

    ArtistId        Name  AlbumId         Title  TrackId  \
0          8  Audioslave      271   Revelations     3402
1          8  Audioslave      271   Revelations     3389
2          8  Audioslave      271   Revelations     3390
3          8  Audioslave      271   Revelations     3391
4          8  Audioslave      271   Revelations     3392
5          8  Audioslave      271   Revelations     3393
6          8  Audioslave      271   Revelations     3394
7          8  Audioslave      271   Revelations     3395
8          8  Audioslave      271   Revelations     3396
9          8  Audioslave      271   Revelations     3397
10         8  Audioslave      271   Revelations     3398
11         8  Audioslave      271   Revelations     3399
12         8  Audioslave      271   Revelations     3400
13         8  Audioslave      271   Revelations     3401
40         8  Audioslave       11  Out Of Exile       99
41         8  Audioslave       11  Out Of Exile      100
42         8  Audioslave       11  Out Of Exile      101
43         8  Audioslave       11  Out Of Exile      102
44         8  Audioslave       11  Out Of Exile      103
45         8  Audioslave       11  Out Of Exile      104

                                                Name  GenreId  \
0     Band Members Discuss Tracks from "Revelations"       23
1                                        Revelations       23
2                                   One and the Same       23
3                                     Sound of a Gun       23
4                                      Until We Fall       23
5                                      Original Fire       23
6                                        Broken City       23
7                                           Somedays       23
8                            Shape of Things to Come       23
9                            Jewel of the Summertime       23
10                                        Wide Awake       23
11                   Nothing Left to Say But Goodbye       23
12                                              Moth       23
13  Show Me How to Live (Live at the Quart Festival)       23
40                                Your Time Has Come        4
41                                      Out Of Exile        4
42                                       Be Yourself        4
43                                 Doesn't Remind Me        4
44                                   Drown Me Slowly        4
45                                     Heaven's Dead        4

                  Name  PlaylistId   Name
0          Alternative           1  Music
1          Alternative           1  Music
2          Alternative           1  Music
3          Alternative           1  Music
4          Alternative           1  Music
5          Alternative           1  Music
6          Alternative           1  Music
7          Alternative           1  Music
8          Alternative           1  Music
9          Alternative           1  Music
10         Alternative           1  Music
11         Alternative           1  Music
12         Alternative           1  Music
13         Alternative           1  Music
40  Alternative & Punk           1  Music
41  Alternative & Punk           1  Music
42  Alternative & Punk           1  Music
43  Alternative & Punk           1  Music
44  Alternative & Punk           1  Music
45  Alternative & Punk           1  Music

In [12]:
print(grouped_df.groupby(['ArtistId']))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x138b39a50>